/* .admin-layout {
  min-height: 100vh;
  display: flex;
}

.main-sidebar {
  width: 250px; 
  flex-shrink: 0;
}

.content {
  flex-grow: 1;
  padding: 20px;
}

.user-layout {
  min-height: 100vh;
} */

.aButton {

  background: none;
  border: none;
  padding: 0;
  color: #0d6efd;
  text-decoration: underline;
  cursor: pointer,

}