/* components/Modal.css */
.custom-modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1050;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  padding: 40px 20px;
  box-sizing: border-box;
}

.modal-box {
  background: #fff;
  padding: 0px;
  border-radius: 8px;
  width: 90%;
  max-width: 600px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 1050;
  /* max-height: 200vh; */
}

.modal-top h3 {
  margin: 0;
  font-size: 20px;
}

.close-icon {
  background: none;
  border: none;
  font-size: 15px;
  cursor: pointer;
}

.modal-content {
  margin-top: 20px;
  z-index: 1050;
  position: relative;
}